{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="grid-container">
  <div class="grid-y grid-padding-y">
    <div class="cell large-4 offset-4">
          <h1>Twitter Data</h1>
    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="cell large-4 offset-4">
      <div class="card">
        <div class="card-divider">
          <h4>Authenticate</h4>
        </div>
        <div class="card-section">
          <form action="/begin_auth/" method="post">
              {% csrf_token %}
              <input type="submit" class="button expanded" value="Authenticate">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block scripts %}
{% endblock %}
</html>
