{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="grid-container">
  <div class="grid-y grid-padding-y">
    <div class="cell large-12">
      <h1>Twitter Data</h1>
    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="cell large-4 offset-4">
      <div class="card">
        <div class="card-divider">
          <h4>Recent Tweets</h4>
        </div>
        <div class="card-section">
          <h5>This will display text</h5>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block scripts %}
{% endblock %}
</body>
</html>
