.top-bar {
  background-color: #000000;
  color: #FFFFFF;
}

.dropdown.menu {
  background-color:#000000;
  color:#FFFFFF;
}

.card {
  border-color: #262626;
  border: 1px;
  -webkit-box-shadow: 0 0 40px #cacaca;
          box-shadow: 0 0 40px #cacaca;
}
